.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar h1 {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.center {
    width: 100px;
    height: 100px;
	margin-left: auto; 
	margin-right: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.error{
	color:red;
}


/* Main content */
.main {
    margin-top: 50px; /* Add a top margin to avoid content overlay */
    clear: both;
}

body {
	background-color: light-blue;
    
}

<!--
.tab { margin-left: 40px; }
-->

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
	text-align:center;
}

.available{
	background-color: green;
}
.unavailable{
	background-color: red;
}
.shift{
	background-color: blue;
}
.noshift{
	background-color: grey;
}